.feeder-container {
    font-size: larger;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data-container {
    margin-left: 45px;
}

.block {
    border: 2px solid #333;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin-right: 200px
}


@media (max-width: 768px) {
    .feeder-container {
        flex-direction: column;
    }

    .image-container {
        margin-top: 20px;
    }
}

.lock-font {
    font-family: 'Gaegu', sans-serif;
}
