.quick-feed-container {
    margin-top: 20px;
    padding: 10px;
    border: 2.5px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px #ccc;
}

.boxes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px
}

.feed-box {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.feed-box:hover {
    background-color: #f0f0f0;
}

.feed-button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gaegu', sans-serif;
    font-size: medium;
}

.swal2-title {
    font-family: 'Gaegu', cursive;
    font-weight: bold;
}

.swal2-actions .swal2-confirm {
    color: white !important;
    border: none !important;
    box-shadow: none !important;
}

.swal2-html-container {
    font-family: 'Gaegu', cursive;
    font-size: medium;
}