.room-data {
    cursor: pointer;
}

.room-data-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* This ensures that the container takes at least the full viewport height */
    text-align: center; /* This centers the text inside each child component */
}

.chart-container {
    width: 100%; /* Adjust this as needed */
    max-width: 600px; /* Adjust this as needed */
    margin: 20px; /* Adds some space around the charts */
}

.small-chart {
    width: 100%; /* Ensures the chart takes the full width of its container */
    margin-bottom: 30px; /* Adds some space below each chart */
}

button {
    margin: 20px 0; /* Adds some space around the button */
}
